.nav-color{
    background-color: black;
    color: yellow;
  }

  .nav-link{
    color:yellow;

  }
/*   
    #post{
    background-color: yellow;
    margin-left: 35vw;
    height: 18ch;
    width: 30%;
    border: none;    
    margin-block-end: 2%
  }
  #post-btn{
    margin-left: -6%;
    margin-top: -30%;
    border: yellow;
    background-color: black;
    color: yellow;
    border-radius: 2vw;
  } */
 
#campos{
  margin-left: 37vw;
  margin-block-end: 2%;
}

nav{
  background-color: black;
  color: white;
  font-size: 3vw;
}

.bg-transparent{
  background-color: transparent;
}

.btn:focus{
  box-shadow: yellow;
}
#post:focus{
  border-color: yellow;
  box-shadow: 0 0 0 0.2rem rgba(255, 251, 0, 0.418);
}
