
body {
  background-color: #ffe520;
}

.card-signin {
  border: 0;
}

.btn-yellow {
  background-color: #ffe520;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}